@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #26C6DA;
    color: white;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    background-color:#00ACC1;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 1rem ;

}
.left{
    font-size: 1.7rem;
}
.firstSection{
    display: flex;
    justify-content:space-around ;
    margin: 3rem 0;
}
.firstSection div{
    width:30%;
    align-items: center;

}
.leftSection{
    font-size: 2.5rem;
    margin: 3rem 0;

}
.rightSection img{
    width: 80%;
    margin: 1rem;
}
.purple{
    color:blueviolet;
    margin: 0;
}